/*variable*/
:root{
    --lavender: rgb(230,230,250);
    --purple1: #76479c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Purple Galaxy Header containing name + nav bar */
header{
    padding: 20px;
    background-image: url("../images/purpleGalaxy.jpg");
    color: white;
}

/*"Hailey D. Francis written on top left*/
header h1 {
    display: inline-block;
    background-color: white;
    font-family: 'Lucida Handwriting', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    border-radius: 10px;
    font-size: 36px;
    color: indigo;
    text-shadow: 2px 2px lightgrey;
}

/*Nav Bar properties*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;    
    font-size: 20px;
}

/*Nav bar unordered list properties*/
header nav ul {
    list-style-type: none;
}

/*Nav bar list element properties */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Nav bar anchor tag text decoration and color */
header nav ul li a {
    color: white;
    text-decoration: underline;
}

/* setting background color */
body{
    background-color: var(--lavender);
}

/*The About Me, Work, And Contact Me Headers */
h2{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;  
}

div{
    border: 2px solid red;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    border: 4px dashed green;
}