/*variable*/
:root{
    --lavender: rgb(230,230,250);
    --purple1: #76479c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* setting background color */
body{
    background-color: var(--lavender);
}

/*stylizing p font*/
p{
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10%;
    line-height: 1.2;
    
}

/*Purple Galaxy Header containing name + nav bar */
.purple-galaxy{
    display: inline-box;
    padding: 30px;
    background-image: url("../images/purpleGalaxy.jpg");
    color: white;
    width:100%;
}

/*"Hailey D. Francis written on top left*/
.my-name {
    display: inline-block;
    background-color: white;
    font-family: 'Lucida Handwriting', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font-size: 36px;
    color: indigo;
    text-shadow: 2px 2px lightgrey;
}

/*Nav Bar properties*/
.header-nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-weight: bold;    
    font-size: 20px;
}

/*Nav bar unordered list properties, remove bullet points*/
.nav-list-style {
    list-style-type: none;
}

/*Lining up list elements inline-block*/
li{
    padding: 1px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 25px;
}

/*Nav bar anchor tag text decoration and color */
.nav-link-style {
    color: white;
    text-decoration: underline;
}



/*The About Me, Work, And Contact Me Headers */
.main-headers{
    font-weight: bold;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 10px;
    margin:30px;
    border-right: 5px solid var(--purple1);
    text-align: right;
}

/* Content placement of info in About Me, Work, and Contact Me Section */
.spacing{
    margin: 30px;
    justify-content: center;
    position: relative;
}

/*labels on work images font size*/
section div figure h3{
    font-size: 25px;
}

/*Work Images */
.project-img{
    width: 100%;
    border: 10px solid var(--purple1);
    border-radius: 5px;
    margin: 5px;
}

/*Placing everything in the center with the footer */
footer{
    text-align: center;
}

/*Adding the flex property, used on "section" class to line up label and info side by side */
.flex{
    display: flex;
}

/* profile pic sizing and placement */
.profile{
    width: 150px;
    margin: auto;
    display: block;
    padding-top: 10px;
}

/*work images border and size, used width 100% for all because label placement was a struggle */
.work{
    width: 100%;
    border: 7px solid var(--purple1);
    border-radius: 5px;
}

/*Container class for text*/
.container{
    position: relative;
    text-align: center;
    color: white;
}

/*placing text on bottom left */
.bottom-left{
    position: absolute;
    bottom: 9px;
    left: 5px;
    border-radius: 5px;
}

/*image label stylizing */
.label{
    padding: 5px;
    display: inline-block;
    background-color: var(--purple1);
    font-size: 15px;
}

/*layout for narrower screens*/
@media screen and (max-width: 837px) {
    /* Space background expanded, text centered */
    header {
        padding: 50px;
        text-align: center;
    }

    /*made h2 text smaller*/
    h2{
        margin-left: 1%;
        font-size: 30px;
    }

    /*made div margins smaller*/
    div{
        margin: 15px;
    }
    
    /*made margin in between label and info of each section smaller */
    section div{
        margin-left: 2%;
    }

    /*Turning list into columns*/
    header nav ul li{
        display: block;
        margin-left: 25px;
    }

    /*Nav Bar unset float so text-align center is used*/
    header nav {
        float:unset;
    }

    /*made image label text smaller*/
    section div figure h3{
        font-size: 15px;
    }

  }